# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle settings
.settings/

# Ignore libs directory
libs/

# Ignore bin directory
bin/
